.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: wheat;
}
.addproduct-itemfield{
    width: 100%;
    color:gray;
    font-size: 16px;
}
.addproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid white;
    outline: none;
    color:black;
    font-size: 14px;
    font-family: serif;
}
.addproduct-price{
    display: flex;
    gap: 40px;
}
.add-product-selector{
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color:gray;
    border:1px solid gray;
    border-radius: 4px;
}
.addproduct-thumnail-img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0px;
}
.addproduct-btn{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: sandybrown;
    color:white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}